In [1]:
import pandas as pd
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
customers = pd.read_csv("Dataset/customers.csv")
geolocation = pd.read_csv('Dataset/geolocation.csv')
products = pd.read_csv('Dataset/products.csv')
orders = pd.read_csv('Dataset/orders.csv')
sellers = pd.read_csv('Dataset/sellers.csv')
order_items = pd.read_csv('Dataset/order_items.csv')
category = pd.read_csv('Dataset/product_name.csv')
reviews = pd.read_csv('Dataset/reviews.csv')

In [3]:
merged_data = orders.merge(order_items, on='order_id')
merged_data = merged_data.merge(customers, on='customer_id')
merged_data = merged_data.merge(products, on='product_id')
merged_data = merged_data.merge(sellers, on='seller_id')
merged_data = merged_data.merge(reviews, on='order_id', how='left')

In [4]:
geo_shipping_costs = merged_data.groupby('customer_zip_code_prefix')['freight_value'].mean().reset_index()
geo_shipping_costs.columns = ['zip_code', 'avg_shipping_cost']

In [5]:
geo_shipping_costs

       zip_code  avg_shipping_cost
0          1003           8.980000
1          1004           9.560000
2          1005          13.355000
3          1006          16.625000
4          1007          12.517500
...         ...                ...
14971     99960          16.630000
14972     99965          31.845000
14973     99970          23.740000
14974     99980          18.296667
14975     99990          35.450000

[14976 rows x 2 columns]

In [ ]:
regional_shipping_costs = location_data.groupby('geolocation_state')['avg_shipping_cost'].mean().reset_index()